<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webchat</title>
</head>
<body>
  <header>
    <section>
      <div id="nickname-container">
        <p>Nickname:</p>
        <p id="user-nickname" data-testid="online-user"></p>
      </div>
    </section>
  </header>
  <main>
    <section id="chat-container">
      <ul id="message-list">

      </ul>
    </section>
  </main>
  <footer>
    <form action="" id="message-form">
      <input
        id="message-box"
        data-testid="message-box"
        autocomplete="off"
        placeholder="Digite uma mensagem"
      >
      <button id="send-button" data-testid="send-button">Enviar</button>
    </form>
  </footer>
  <script src="./socket.io/socket.io.js"></script>
  <script src="webchat.js"></script>
</body>
</html>