<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webchat</title>
</head>
<body>
  <header>
    <section>
      <div id="nickname-container">
        <p>Nickname:</p>
        <p id="user-nickname" data-testid="online-user"></p>
      </div>
    </section>
  </header>
  <script src="./socket.io/socket.io.js"></script>
  <script src="webchat.js"></script>
</body>
</html>