<!DOCTYPE html>
<html lang="en">
<head>
  <title>Webchat</title>
</head>
<body>
  <header>

    <section>
      <div id="nickname-container">
        <p>Nickname:</p>
        <p id="user-nickname"></p>
      </div>
    </section>

    <section class="user-container">
      <h3>Mudar seu nickname:</h3>
      <form id="form-nickname" action="">
        <input 
          type="text"
          id="input-nickname"
          placeholder="Insira seu nickname"
          autocomplete="off"
          data-testid="nickname-box"
        >
        <button id="nickname-button" data-testid="nickname-button">Salvar</button>
      </form>

    </section>
  </header>
  <main>

    <section id="chat-container">
      <ul id="message-list">
        <% formatMessages.forEach((message) => { %>
          <li data-testid="message"> <%=message%> </li>
        <% }) %>
      </ul>
    </section>

    <section id="online-users-container">
      <h3>Usuários on-line</h3>
        <ul>
          <li id="client-id" data-testid="online-user"> </li>
        </ul>
        <ul id="online-users">
        </ul>
    </section>

  </main>
  <footer>

    <form action="" id="message-form">
      <input
        id="message-box"
        data-testid="message-box"
        autocomplete="off"
        placeholder="Digite uma mensagem"
      >
      <button id="send-button" data-testid="send-button">Enviar</button>
    </form>
    
  </footer>
  <script src="./socket.io/socket.io.js"></script>
  <script src="webchat.js"></script>
</body>
</html>